<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<!--<p>-->
<!--  <strong>Players name:</strong>-->
  <%#= @team.players[0].name %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Age:</strong>-->
  <%#= @team.players[0].age %>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
